<html>

<head>
    <link rel="stylesheet" type="text/css" href="product_style.css" />
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <!-- v-bind dynamically binds an attribute to an expression -->
                <img v-bind:src="image" />
            </div>
            <div class="product-info">
                <h1>
                    <a v-bind:href="voz">{{product}}</a>
                </h1>
                <p v-if="inventory>10">In stock</p>
                <p v-else-if="inventory <=10 && inventory >0">Near out of stock</p>
                <p v-else>Out of stock</p>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{variant.variantColor}}</p>
                </div>
                <ul>
                    <li v-for="detail of details">{{detail.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js">

    </script>
</body>

</html>